* {
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
}
/* cards - display product, button to add up or remove quantity, button to see full details*/

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* add form to add a new product to the database*/
