{% extends "base.html" %} {% block title %} Add Form {% endblock %} {% block
content %}

<form method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required />

  <label for="manufacturer">Manufacturer:</label>
  <input type="text" name="manufacturer" id="manufacturer" required />

  <label for="description">Description:</label>
  <textarea name="description" id="description" required></textarea>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" id="quantity" required />

  {% if providers %}
  <label for="provider">Provider:</label>
  <select name="provider_id" id="provider">
    {% for provider in providers %}
    <option value="{{ provider.id }}">{{ provider.name }}</option>
    {% endfor %}
  </select>
  {% else %}
  <label for="provider">Provider:</label>
  <input type="text" name="provider" id="provider" required />
  {% endif %}

  <label for="website">Link:</label>
  <input type="text" name="website" id="website" required />

  <button type="submit">Add Product</button>
</form>

{% endblock %}
