{% extends "base.html" %} {% block title %} dental Practice Stock {% endblock %}
{% block content %}

<body>
  <h1>Dental Practice Stock</h1>

  <h2>Stock Products</h2>

  <section class="product-grid">
    {% if products %} {% for product in products %}
    <article class="card product-card">
      <img
        class="card-img-top"
        src="https://picsum.photos/200"
        alt="Card image cap"
      />
      <h3 class="card-title product-name">{{ product.name }}</h3>
      <p class="product-manufacturer">{{ product.manufacturer }}</p>
      <p class="stock-quatity">
        <a href="#" class="btn btn-outline-secondary"> ➕</a>
        {{ product.stock_quantity }}
        <a href="#" class="btn btn-outline-danger"> ➖ </a>
      </p>
      <a href="#" class="btn btn-primary"> See Product</a>
    </article>
    {% endfor %}
  </section>

  <!-- Add product Form -->

  <button class="btn btn-primary add-button" type="button">Add Product</button>

  <form method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required />
    <br /><br />

    <label for="description">Description:</label>
    <input type="text" name="description" id="description" required />
    <br /><br />

    <label for="manufacturer">Manufacturer:</label>
    <input type="text" name="manufacturer" id="manufacturer" required />
    <br /><br />

    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity" required />
    <br /><br />

    <button type="submit">Add Product</button>
  </form>

  {% else %}
  <p>No products in stock.</p>
  {% endif %}
</body>

{% endblock %}
