{% extends "base.html" %} {% block title %} dental Practice Stock {% endblock %}
{% block content %}

<body>
  <h2>Dental Practice Stock</h2>

  <section class="product-grid p-5 m-3">
    {% if products %} {% for product in products %}
    <article class="card product-card">
      <img
        class="card-img-top"
        src="https://picsum.photos/200"
        alt="Card image cap"
      />
      <h3 class="card-title product-name">{{ product.name }}</h3>
      <p class="product-manufacturer">{{ product.manufacturer }}</p>
      <p class="stock-quatity">
        <a
          href="{{ url_for('plus_stock', id=product.id, page='stock') }}"
          class="btn btn-outline-secondary"
        >
          ➕</a
        >
        {{ product.stock_quantity }}
        <a
          href="{{ url_for('minus_stock', id=product.id, page='stock') }}"
          class="btn btn-outline-warning"
        >
          ➖
        </a>
      </p>
      <a
        href="{{url_for('details', id=product.id, page='stock') }}"
        class="btn btn-primary"
      >
        See Product</a
      >
      <a href="{{ url_for('delete_product', id=product.id) }}">Delete</a>
      <a href="{{ url_for('edit_product', id=product.id) }}">Edit</a>
    </article>
    {% endfor %} {% else %}
    <p>No products in stock.</p>
    {% endif %}
  </section>

  <!-- Add product Form button-->

  <a
    href="{{ url_for('add_product')}}"
    class="btn btn-success"
    id="go-add-form"
  >
    Add Product
  </a>
</body>

{% endblock %}
