{% extends "base.html" %} {% block title %}Order Plan{% endblock %} {% block
content %}

<h1>Order Plan</h1>

{% if orders %} {% for order in orders %}

<div class="card mb-4 m-5">
  <div class="card-header d-flex justify-content-between">
    Order #{{ order.id }} — {{ order.provider.name }}
    <a
      href="/toggle_order_status/{{ order.id }}"
      class="btn {% if order.status == 'Planning' %} btn-warning {% elif order.status == 'Waiting' %} btn-info {% elif order.status == 'Completed' %} btn-success {% endif %}"
    >
      {{ order.status }}
    </a>
  </div>

  <div class="card-body m-5">
    {% if order.items %}

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for item in order.items %}

        <tr>
          <td>{{ item.product.name }}</td>
          <td class="d-flex">
            <a href="" class="btn btn-outline-secondary"> ➕ </a>

            <div class="m-2">{{ item.quantity }}</div>

            <a href="" class="btn btn-outline-warning"> ➖ </a>
          </td>
          <td>
            <a
              href="{{ url_for('delete_from_order', unwanted_item_id=item.id) }}"
              class="btn btn-danger"
            >
              Remove
            </a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    {% else %}

    <p>No products in this order.</p>

    {% endif %}
  </div>
</div>

{% endfor %} {% else %}
<p>No Orders</p>
{% endif %} {% endblock %}
