{% extends "base.html" %} {% block title %} Product Providers {% endblock %} {%
block content %}

<h2>Providers</h2>

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="{{ category }} message">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %} {% if providers %} {% for provider in
providers %}

<div>
  <div class="card mb-4 m-5">
    <div class="card-header">
      <h3>{{ provider.name }}</h3>
      <p>{{ provider.website }}</p>
      <a
        href="{{ url_for('delete_provider', provider_id=provider.id) }}"
        onclick="return confirm('{{ provider.name }} will be deleted and not available anymore')"
        class="btn btn-primary"
        >Delete</a
      >
    </div>

    

    <div class="d-flex flex-wrap gap-3 m-2">
    
      {% for product in provider.products %}
      <a
            href="{{ url_for('details', id=product.id) }}"
            class="text-decoration-none text-dark"
            style="width: 15%"
        >

      <article class="card product-card" style="width: 100%">
        {% if product.img %}
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='uploads/' + product.img) }}"
          alt="{{ product.name }}"
        />
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>

          <p class="card-subtitle text-muted">{{ product.manufacturer }}</p>
        </div>
      </article>

      {% endfor %}
    </div>
  </div>

  {% endfor %} </a> {% else %}

  <p>No providers have been added yet.</p>

  {% endif %}

  <a href="{{ url_for('add_provider') }}" class="btn btn-primary"
    >Add Provider</a
  >
</div>

{% endblock %}
